django==3.2.9
django-environ
djangorestframework
djangorestframework-simplejwt
djoser
django-cors-headers
django-filter
django-jazzmin
# django-countries
django-autoslug
#django-dbbackup
Pillow
psycopg2-binary
gunicorn
requests
six
typing-extensions
cryptography
flake8
black
isort
wheel
twilio
pytest-django
pytest-factoryboy
Faker
pytest-cov
redis
celery
flower
django-celery-email
argh
PyYAML
watchdog
